body {
font-family: Arial;
font-size: 16px;
background-color: #f5f5f5;
margin: 20px;
}

h1 {
text-align: center;
}

table {
width: 100%;
border-collapse: collapse;
}

th, td {
border: 1px solid black;
padding: 10px;
text-align: center;
}

form {
margin-top: 20px;
background-color: white;
padding: 15px;
width: 400px;
}

input, select, textarea {
width: 100%;
margin-bottom: 10px;
padding: 5px;
}

.error-text {
    margin: 4px 0 0;
    font-size: 12px;
    color: red;
    min-height: 14px;
}
